Flask==1.0
Jinja2==2.11.3
WebOb==1.2.2
Werkzeug==2.2.3
apns==1.1.2
http-parser==0.7.8
nose==1.2.1
paramiko==1.7.7.2
passlib==1.6.1
py-bcrypt==0.3
pycrypto==2.6
pymongo==2.5.2
python-dateutil==2.1
requests==2.20.0
restkit==4.2.0
six==1.2.0
socketpool==0.5.2
wsgiref==0.1.2
